body{
    background-color:black;
}

.wd-padding-left {
    padding-left: 16px;
}
.wd-padding-top {
    padding-top: 12px;
}
.wd-border {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47,51,54);
}

.wd-border-title {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47,51,54);
    border-bottom-color: lightgray;
}
.wd-title-bookmarks {
    font-size: 20px;
    color: white;
}
.wd-handle-bookmarks {
    font-size: 13px;
    color: lightgray;
    padding-bottom: 12px;
}

.wd-grid-container {
    display: grid;
    grid-template-columns: 48px auto;
    grid-column-gap: 12px;
    justify-content: start;
    align-items: start;
    padding-bottom: 15px;
}
.wd-avatar-image {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.wd-avatar img {
    border-radius: 24px;
    width: 48px;
    height: 48px;
}
.wd-authors-bookmarks {
    font-size: 15px;
    color: white;
}
.wd-handle-lightgray {
    font-size: 15px;
    color: lightgray;
}
.wd-content {
    font-size: 15px;
    color: white;
    max-width: 506px;
    padding-right: 16px
}

.wd-image-bookmarks {
    max-width: 504px;
    height: 264px;
    padding-right: 16px;
}
.wd-image-bookmarks img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.wd-border-lightgray {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

.wd-padding-right14{
    padding-right: 14px;
}
.wd-image-text-border {
    max-width: 504px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.wd-image-text-title {
    font-size: 15px;
    color: white;
    padding-top: 12px;
    padding-left:12px;
    padding-right: 12px;
}
.wd-image-text-content {
    font-size: 15px;
    color: lightgray;
    padding-bottom: 12px;
    padding-left:12px;
    padding-right: 12px;
}

.wd-flex-icon-bookmark-container {
    display: flex;
    justify-content: space-between;
    max-width: 506px;
    padding-top: 12px;
    padding-right: 16px;
}
.wd-icon-bookmarks {
    width: 17px;
    padding-right: 12px;
}
.wd-icon-text {
    font-size: 15px;
    color: lightgray;
    padding-right: 12px;
}
